<div class="row">
    <select class="form-select" aria-label="Disabled select example" disabled>
        <option selected>default</option>
    </select>
    <b class="welcome">Welcome back. Here's your business at a glance.</b>
    <h3><b>Today</b></h3>
    <div class="col-sm-6">
        <div class="card half">
            <div class="card-body">
                <h4 class="card-title">
                    Gross sales
                </h4>
                <p class="card-text">
                    No sales yet today>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card half">
            <div class="card-body">
                <h4 class="card-title">
                    Transactions
                </h4>
                <p class="card-text">
                    No sales yet today>
                </p>
            </div>
        </div>
    </div>
    <div class="card main">
        <div class="card-body">
            <h4 class="card-title">
                Payment types>
            </h4>
            <p class="card-text">No sales yet today</p>
        </div>
    </div>
    <div class="card main">
        <div class="card-body">
            <h4 class="card-title">
                Top items by sales>
            </h4>
            <p class="card-text">No item sales today</p>
        </div>
    </div>
</div>